---
layout: workshop      # DON'T CHANGE THIS.
carpentry: "swc"      # what kind of Carpentry (must be either "dc" or "swc")
venue: "University of British Columbia - EOAS"        # brief name of host site without address (e.g., "Euphoric State University")
address: "ESB-5104, 2207 Main Mall, Vancouver"      # full street address of workshop (e.g., "Room A, 123 Forth Street, Blimingen, Euphoria")
country: "ca"      # lowercase two-letter ISO country code such as "fr" (see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # lowercase two-letter ISO language code such as "fr" (see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "49.262737, -123.252236"       # decimal latitude and longitude of workshop venue (e.g., "41.7901128,-87.6007318" - use http://www.latlong.net/)
humandate: "Sep 20-21, 2016"    # human-readable dates for the workshop (e.g., "Feb 17-18, 2020")
humantime: "9:00 am - 5:00 pm"    # human-readable times for the workshop (e.g., "9:00 am - 4:30 pm")
startdate: 2016-09-20      # machine-readable start date for the workshop in YYYY-MM-DD format like 2015-01-01
enddate: 2016-09-21        # machine-readable end date for the workshop in YYYY-MM-DD format like 2015-01-02
instructor: ["Doug Latornell", "Nancy Soontiens", "Karina Ramos Musalem"] # boxed, comma-separated list of instructors' names as strings, like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["TDB"]     # boxed, comma-separated list of helpers' names, like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "Susan Allen <sallen@eoas.ubc.ca>"      # contact email address for host, lead instructor, or whoever else is handling questions
etherpad: http://pad.software-carpentry.org/2016-09-20-ubc            # optional: URL for the workshop Etherpad if there is one
---

<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->

<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->


<h2 id="general">General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  This hands-on workshop will cover basic
  concepts and tools, including program design, version control, data
  management, and task automation.  Participants will be encouraged to
  help one another and to apply what they have learned to their own
  research problems.
</p>
<p>
  Specific focuses of the workshop will be:
  <ol>
    <li>
      Version Control — software tools to maintain and make accessible
      previous versions of code, data files, etc.
      </li>
    <li>
      Automation — techniques to take the repetitive, error-prone drudgery
      out of a whole range of computer analyses
    </li>
    <li>
      Introduction to computer shell/command-line and programming tools
      that make 1 &amp; 2 possible
    </li>
  </ol>
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Who:</strong>
  The workshop is aimed at graduate students and other researchers who are
  familiar with basic programming concepts
  (like loops, conditionals, arrays, and functions)
  but need help to translate that knowledge into practical tools to help them
  work more productively.
  <strong>You don't need to have any previous knowledge of the tools that will
  be presented at the workshop.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requirements:</strong> Participants must bring a laptop with a
  Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) that they have administrative privileges
  on. They should have a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  ACCESSIBILITY

  Modify the block below if there are any barriers to accessibility or
  special instructions.
-->
<p id="accessibility">
  <strong>Accessibility:</strong> We are committed to making this workshop
  accessible to everybody.
  The workshop organisers have checked that:
</p>
<ul>
  <li>The room is wheelchair / scooter accessible.</li>
  <li>Accessible restrooms are available.</li>
</ul>
<p>
  Materials will be provided in advance of the workshop and
  large-print handouts are available if needed by notifying the
  organizers in advance.  If we can help making learning easier for
  you (e.g. sign-language interpreters, lactation facilities) please
  <a href="mailto:{{page.contact}}">get in touch</a> and we will
  attempt to provide them.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the configuration file.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  <a href="mailto:{{page.contact}}">{{page.contact}}</a> for more
  information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<p><em>Surveys</em></p>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop Survey</a></p>
<p><a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop Survey</a></p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="#syllabus-shell">The Unix shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="#syllabus-mercurial">Version Control with Mercurial</a></td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>16:50</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="#syllabus-python">Building Programs with Python</a></td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td><a href="#syllabus-python">Building Programs with Python (cont'd)</a></td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>16:50</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<h3>Coffee, Tea and Snacks</h3>
<p>Coffee, tea, and snacks will be provided during the mid-morning and mid-afternoon breaks each day of the workshop.</p>

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="syllabus">Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell"><a href="http://nsoontie.github.io/shell-novice-2016-09-20-ubc/">The Unix Shell</a></h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="http://nsoontie.github.io/shell-novice-2016-09-20-ubc/reference/">Reference...</a></li>
    </ul>

    <h3 id="syllabus-python"><a href="https://anakarinarm.github.io/python-novice-inflammation-2016-09-20-ubc/">Programming in Python</a></h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Loops and conditionals</li>
      <li>Creating and using functions</li>
      <li>Assertions and testing</li>
      <li>Debugging</li>
      <li>Using Python from the command line</li>
      <li><a href="https://anakarinarm.github.io/python-novice-inflammation-2016-09-20-ubc/reference/">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-mercurial"><a href="https://douglatornell.github.io/hg-novice-2016-09-20-ubc/">Version Control with Mercurial</a></h3>
    <ul>
      <li>Automated Version Control</li>
      <li>Configuring Mercurial</li>
      <li>Creating a repository</li>
      <li>Tracking Files</li>
      <li>Recording Changes</li>
      <li>Exploring History</li>
      <li>Recovering Old Versions</li>
      <li>Ignoring Things</li>
      <li>Remote Repositories</li>
      <li>Working with Clone Repositories</li>
      <li>Collaboration</li>
      <li>Merging Changes from Difference Clones</li>
      <li>Merge Conflicts</li>
      <li>Open Science</li>
      <li>Licenses</li>
      <li>Repository Hosting</li>
      <li><a href="https://douglatornell.github.io/hg-novice-2016-09-20-ubc//reference/">Reference...</a></li>
    </ul>
  </div>
</div>


<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  To participate in a Software Carpentry workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "{{site.swc_github}}/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=339AEqk9c-8">Video Tutorial</a>
      <ol>
        <li>Download the Git for Windows <a href="https://git-for-windows.github.io/">installer</a>.</li>
        <li>Run the installer and follow the steps bellow:
          <ol>
            <!-- Git 2.8.2 Setup -->
            <!-- Information -->
            <li>Click on "Next".</li>
            <!-- Select Components -->
            <li>Click on "Next".</li>
            <!-- Adjusting your PATH environment -->
            <li>
              <strong>
                Keep "Use Git from the Windows Command Prompt" selected and click on "Next".
              </strong>
                If you forgot to do this programs that you need for the workshop will not work properly.
                If this happens rerun the installer and select the appropriate option.
            </li>
            <!-- Choosing the SSH executable -->
            <li>Click on "Next".</li>
            <!-- Configuring the line ending conversions -->
            <li>
              <strong>
                Keep "Checkout Windows-style, commit Unix-style line endings" selected and click on "Next".
              </strong>
            </li>
            <!-- Configuring the terminal emulator to use with Git Bash -->
            <li>
              <strong>
                Keep "Use Windows' default console window" selected and click on "Next".
              </strong>
            </li>
            <!-- Configuring experimental performance tweaks -->
            <li>Click on "Install".</li>
            <!-- Installing -->
            <!-- Completing the Git Setup Wizard -->
            <li>Click on "Finish".</li>
          </ol>
        </li>
        <li>
          If your "HOME" environment variable is not set (or you don't know what this is):
          <ol>
            <li>Open command prompt (Open Start Menu then type <code>cmd</code> and press [Enter])</li>
            <li>
              Type the following line into the command prompt window exactly as shown:
              <p><code>setx HOME "%USERPROFILE%"</code></p>
            </li>
            <li>Press [Enter], you should see <code>SUCCESS: Specified value was saved.</code></li>
            <li>Quit command prompt by typing <code>exit</code> then pressing [Enter]</li>
          </ol>
        </li>
      </ol>
      <p>This will provide you with both Git and Bash in the Git Bash program.</p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        The default shell in all versions of Mac OS X is Bash, so no
        need to install anything.  You access Bash from the Terminal
        (found in
        <code>/Applications/Utilities</code>).
        See the Git installation <a href="https://www.youtube.com/watch?v=9LQhwETCdwY ">video tutorial</a>
        for an example on how to open the Terminal.
        You may want to keep
        Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        The default shell is usually Bash, but if your
        machine is set up differently you can run it by opening a
        terminal and typing <code>bash</code>.  There is no need to
        install anything.
      </p>
    </div>
  </div>
</div> <!-- End of 'shell' section. -->

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by <code>:q!</code> (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=339AEqk9c-8">Video Tutorial</a>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        To install it,
        download the <a href="{{site.swc_installer}}">Software Carpentry Windows installer</a>
        and double click on the file to run it.
        <strong>This installer requires an active internet connection.</strong>
      </p>
      <p>
        Others editors that you can use are
        <a href="http://notepad-plus-plus.org/">Notepad++</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
        <strong>Be aware that you must
          add its installation directory to your system path.</strong>
        Please ask your instructor to help you do this.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        See the Git installation <a href="https://www.youtube.com/watch?v=9LQhwETCdwY ">video tutorial</a>
        for an example on how to open nano.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
        nano is a basic editor and the default that instructors use in the workshop.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>,
        <a href="http://kate-editor.org/">Kate</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div id="hg"> <!-- Start of 'Mercurial' section. GitHub browser compatability
           is given at https://help.github.com/articles/supported-browsers/-->
  <h3>Mercurial</h3>
  <p>
    Mercurial is a version control system that lets you track what changes
    were made when to files.
    It has options for easily updating a shared or public
    version of your code
    on <a href="https://bitbucket.org/">bitbucket.org</a>. You will need a
    <a href="https://confluence.atlassian.com/bitbucket/which-browsers-does-bitbucket-support-296092232.html">supported</a>
    web browser (current versions of Chrome, Firefox or Safari,
    or Internet Explorer).
  </p>
  <p>
    You will need an account at <a href="https://bitbucket.org/">bitbucket.org</a>
    for parts of the Mercurial lesson. Basic Bitbucket accounts are free. We encourage
    you to create a Bitbucket account if you don't have one already.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="hg-windows">Windows</h4>
      <p>
        Install Mercurial and KDiff3 by downloading and running the
        <a href="http://tortoisehg.bitbucket.org/">TortoiseHg</a> installer.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="hg-macosx">Mac OS X</h4>
      <p>
        Install Mercurial by downloading and running the installer for your version of OS X from the <a href="https://www.mercurial-scm.org/downloads">downloads page</a>.
        Also,
        please install the <a href="http://kdiff3.sourceforge.net/">KDiff3</a> diff and merge tool.
        <strong>
          Be aware that you must add the KDiff3 installation directory to your system path.
        </strong>
        The Mac section of the
        <a href="https://www.mercurial-scm.org/wiki/KDiff3">KDiff3 page in the Mercurial wiki</a>
        has some tips for doing that.
        If you need help with this,
        please ask one of the instructors before the workshop.
      </p>
      <p>
        If you use the <a href="http://brew.sh/">homebrew</a> package manager,
        you can install Mercurial with <code>brew install mercurial</code>,
        and KDiff3 with <code>brew install kdiff3</code>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-linux">Linux</h4>
      <p>
        If Mercurial is not already available on your machine you can try to
        install it via your distro's package manager.
        For Debian/Ubuntu run <code>sudo apt-get install mercurial</code> and for Fedora run
        <code>sudo yum install mercurial</code>.
        Also,
        please install the <a href="http://kdiff3.sourceforge.net/">KDiff3</a> diff and merge tool.
        It should also be available via your package manager.
      </p>
    </div>
  </div>
</div> <!-- End of 'Mercurial' section. -->

<div id="python"> <!-- Start of 'Python' section. Remove the third paragraph if
           the workshop will teach Python using something other than
           the IPython notebook.
           Details at http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility -->
  <h3>Python</h3>

  <p>
    <a href="http://python.org">Python</a> is a popular language for
    scientific computing, and great for general-purpose programming as
    well.  Installing all of its scientific packages individually can be
    a bit difficult, so we recommend
    <a href="https://www.continuum.io/anaconda">Anaconda</a>,
    an all-in-one installer.
  </p>

    <p>
      Regardless of how you choose to install it,
      <strong>please make sure you install Python version 3.x</strong>
      (e.g., 3.4 is fine).
    </p>

    <p>
      We will teach Python using the IPython notebook, a programming environment
      that runs in a web browser. For this to work you will need a reasonably
      up-to-date browser. The current versions of the Chrome, Safari and
      Firefox browsers are all
      <a href="http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility">supported</a>
      (some older browsers, including Internet Explorer version 9
      and below, are not).
    </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="python-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=xxQ0mzZ8UvA">Video Tutorial</a>
      <ol>
        <li>Open <a href="http://continuum.io/downloads">http://continuum.io/downloads</a> with your web browser.</li>
        <li>Download the Python 3 installer for Windows.</li>
        <li>Install Python 3 using all of the defaults for installation <em>except</em> make sure to check <strong>Make Anaconda the default Python</strong>.</li>
      </ol>
    </div>
    <div class="col-md-4">
      <h4 id="python-macosx">Mac OS X</h4>
      <a href="https://www.youtube.com/watch?v=TcSAln46u9U">Video Tutorial</a>
      <ol>
        <li>Open <a href="http://continuum.io/downloads">http://continuum.io/downloads</a> with your web browser.</li>
        <li>Download the Python 3 installer for OS X.</li>
        <li>Install Python 3 using all of the defaults for installation.</li>
      </ol>
    </div>
    <div class="col-md-4">
      <h4 id="python-linux">Linux</h4>
      <ol>
        <li>Open <a href="http://continuum.io/downloads">http://continuum.io/downloads</a> with your web browser.</li>
        <li>Download the Python 3 installer for Linux.</li>
        <li>Install Python 3 using all of the defaults for installation.
        (Installation requires using the shell. If you aren't
        comfortable doing the installation yourself
        stop here and request help at the workshop.)</li>
        <li>
          Open a terminal window.
        </li>
        <li>
          Type <pre>bash Anaconda3-</pre> and then press
          tab. The name of the file you just downloaded should
          appear.
        </li>
        <li>
          Press enter. You will follow the text-only prompts.  When
          there is a colon at the bottom of the screen press the down
          arrow to move down through the text. Type <code>yes</code> and
          press enter to approve the license. Press enter to approve the
          default location for the files. Type <code>yes</code> and
          press enter to prepend Anaconda to your <code>PATH</code>
          (this makes the Anaconda distribution the default Python).
        </li>
      </ol>
    </div>
  </div>
<!--
  <p>
  Once you are done installing the software listed above,
  please go to <a href="setup/index.html">this page</a>,
  which has instructions on how to test that everything was installed correctly.
  </p>
-->
</div> <!-- End of 'Python' section. -->
